<form action="/" method="post">
  <label for="textbox">List things you wanted to have<br>
  if you become successful someday</label><br>
  <input type="text" name="addItem" required>
  <button type="submit" id="submit">Add To List</button>
</form>
